<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Hotel Manager</title>

</head>

<body style="background-color: rgb(93, 94, 95);">
    <div class='container'>
        <div>
            <form action="/submit" method="POST">
                <div class="form-group">
                    <h3 style="text-align: center;">Check In</h3>
                    <input id="icon_prefix" type="text" name="guestFirstName" placeholder="First">
                    <input type="text" name="guestLastName" placeholder="Last">
                    <input type="text" name="roomNumber" placeholder="Room">
                </div>
                <div style="text-align: center;">
                {% if vacant %}
                    <button type="submit" class="btn-large waves-effect waves-dark">Check In</button>
                {% else %}
                    <button type="submit" class="btn-large waves-effect waves-dark disabled">Check In</button>
                {% endif %}
                </div>
            </form>
        </div>
        <div style="margin-top: 100px;">
            <form action="/remove" method="POST">
                <div class="form-group">
                    <h3 style="text-align: center;">Check Out</h3>
                    <input type="text" name="guestFirstNameCO" placeholder="First">
                    <input type="text" name="guestLastNameCO" placeholder="Last">
                    <input type="text" name="roomNumberCO" placeholder="Room">
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn-large waves-effect waves-light">Check Out</button>
                </div>
            </form>
        </div>

        
        <br>
        <div style="text-align: center; margin-top: 50px;">
            
            <ul class="collection with-header">
                    <li class="collection-header" style="background-color: rgb(93, 94, 95);"><h4>Checked In Guests</h4></li>
            {% for key, guest in hotel.roomArray.items(): %}
                    {% if guest: %}
                        <li class="collection-item" style="background-color: rgb(93, 94, 95); color: rgb(190, 189, 189);">Room {{ key }}: {{ guest.getName() }} </li>  
                    {% else %}
                        <li class="collection-item" style="background-color: rgb(93, 94, 95); color: rgb(190, 189, 189);">Room {{ key }}: Empty</li> 
                    {% endif %}
            {% endfor %}
            </ul>
            <br>
            {% if vacant %}
            <p>There are {{ occupiedRoomCount }} rooms occupied</p>
            {% else %}
            <p>No vacancy!</p>
            {% endif %}
         </div>

    </div>  

   
</body>
</html>